<app-painel-simples col="12" tipo="primary" titulo="Registar para Usuarios e Calculo do IMC">

  <div *ngIf="erro!=null" class="msg msg-alert">
    <h4>Alerta: {{erro.error.message}}</h4>
    <b>Digite corretamente este campo!</b>
  </div>

  <app-form-contact (outputcontact)="addContact($event)"></app-form-contact>

</app-painel-simples>




<app-painel-simples *ngIf="this.resultadoIMC!=null" col="12" tipo="primary" titulo="Calculo do IMC">

  <div *ngIf="this.resultadoIMC!=null" class="msg">
    <h4>Nome: {{user.name}}</h4>
    <h4>Made: {{user.made}}</h4>
    <h4>Classificao do IMC: {{this.resultadoIMC}}</h4>
    <b>Obrigado por usar nosso serviço. Volte sempre!</b>
  </div>

</app-painel-simples>
