<form #f="ngForm" (ngSubmit)="onSubmit()">

  <!-- <div class="row margin-top left-align">
    <h1>Infomações para Contato:</h1>
  </div> -->

  <div class="row">
    <div class="form-group">
      <label for="name">
        <h5>Nome:</h5>
      </label>
      <input class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="contact.name"
        [class.is-invalid]="!name.valid && name.touched" type="texto" style="width: 60%;" required>
      <div *ngIf="!name.valid && name.touched" class="text-danger">
        O nome é Obrigatório.
      </div>
    </div>
  </div>

    <div class="row">
      <div class="form-group">
        <label for="made">
          <h5>Made:</h5>
        </label>
        <input class="form-control" id="made" name="made" #made="ngModel" [(ngModel)]="contact.made"
          [class.is-invalid]="!made.valid && made.touched" type="texto" style="width: 60%;" required>
        <div *ngIf="!made.valid && made.touched" class="text-danger">
          O made é Obrigatório.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="peso">
          <h5>Peso:</h5>
        </label>
        <input class="form-control ng-pristine ng-invalid is-invalid ng-touched" id="peso" name="peso" #peso="ngModel"
          [(ngModel)]="contact.peso" [class.is-invalid]="!peso.valid && peso.touched" type="texto" required>
        <div *ngIf="!peso.valid && peso.touched" class="text-danger ">
          O peso é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="altura">
          <h5>Altura:</h5>
        </label>
        <input class="form-control ng-pristine ng-invalid is-invalid ng-touched" id="altura" name="altura" #altura="ngModel"
          [(ngModel)]="contact.altura" [class.is-invalid]="!altura.valid && altura.touched" type="texto" required>
        <div *ngIf="!altura.valid && altura.touched" class="text-danger ">
          O altura é obrigatório.
        </div>
      </div>
    </div>

  <div class="row" style="margin-top: 2%;">
    <button class="btn btn-primary" style="margin-right: 2%;" type="submit" [disabled]="!f.valid">Confirmar</button>
    <button class="btn btn-primary " routerLink="/listuser" >Lista de Usuarios</button>
  </div>
</form>
