<header class="navbar-fixed">
    <nav class = "z-depth-1">
      <div class="nav-wrapper localnav">
        <a routerLink="/" routerLinkActive="active" class="brand-img img-responsive">
          <img width="30%" src="../../assets/Images/cidacslogo.svg" alt="">
        </a>

        <!--<a materialize="sideNav" href="#" data-activates="slide-navigation" class="button-collapse"><i
            class="material-icons">menu</i></a>-->
        <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/about" class="navmenu">SOBRE</a></li>
          <li routerLinkActive="active"><a routerLink="/contact" class="navmenu">CONTATO</a></li>
        </ul>

        <ul id="slide-navigation" class="side-nav sidenav">
          <li routerLinkActive="active"><a routerLink="/about" class="navmenu">SOBRE</a></li>
          <li routerLinkActive="active"><a routerLink="/contact" class="navmenu">CONTATO</a></li>
        </ul>
      </div>
    </nav>
</header>