header{
    height: 75px;
    z-index: 998;
    
    nav{
        border-bottom: double 3px transparent;
        background-image: linear-gradient(white, white),  radial-gradient(circle at top left, #ffd900,#b31f18);
        background-origin: border-box;
        background-clip: content-box, border-box;  
        background-color:white !important;
        height: 80px;

        .localnav {
            padding: 0 8%;

            ul{
                line-height: 78px;
            }

            i{
                color: #b31f18;
            }

            img{
                vertical-align: middle;
                height: 95%;
            }

            .navmenu {
                color: #CA3815 !important;
            }
        }
    }
}