<div class="container ">
  <div class="row flex">
      <div class="col l7">
          <app-search-field></app-search-field>

          <div class="row text-dashboard">
              <p class="justify">
                  Utilize a coluna à esquerda para filtrar as análises por ano de entrada e por estado de residência,
                  mostrar os resultados em proporção, ignorar as categorias inválidas das variáveis e visualizar os
                  resultados através de gráficos de tendência ou mapa de calor.
              </p>
          </div>

          <div class="row graph-panel card rounded">
              <app-plot></app-plot>
          </div>
      </div>

      <div class="col l4 m12 s12 offset-l1 rounded margin-top-0">
          <app-control-panel></app-control-panel>
      </div>
  </div>
</div>