/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html {
    height: 100%;
    margin: 0 auto;  
}

body {
    font-family: 'Montserrat';
    font-size: 15px;

    /* Location of the image */
    background-image: url("../src/assets/Images/Background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

section {
    width: 90%;
    margin: auto;
    padding: 2em;
}

.input-field {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-radius: 4px !important;
    height: 45px !important;
}

.input-field input{
    border-bottom-color: rgba(0, 0, 0, 0.001);
    padding-left: 35px !important;
    width: calc(100% - 35px) !important;
}

.rounded{
    border-radius: 4px !important;
}

.input-field  > i{
    height: 100% !important;
    top: 0 !important;
    padding: 7px 10px !important
}

.input-field   > .searchfield {
    margin-bottom: 0 !important;
    border-bottom: none!important;
    height: 100% !important;
}

.padding-zero{
    padding: 0 !important;
}

.margin-top-0{
    margin-top: 0 !important;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}