
<app-painel-simples class="Highlight" col="12" tipo="primary" titulo="Lista de Contatos">

  <table class="highlight responsive-table striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Mensagem</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts" class="Highlight">
          <td>{{contact.id}}</td>
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.message}}<td>
        </tr>
      </tbody>
  </table>

  <a class="btn-floating btn-large waves-effect waves-light red right hide-on-med-and-down" routerLink="/fullcontact"><i class="material-icons">+</i></a>

</app-painel-simples>
